html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}/* CSS reset to get rid of empty space at top of page */

.App {
  text-align: center;
  background-image: url(https://preview.ibb.co/dRxzOe/alcohol_architecture_bar_260922.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: auto;
  height: auto;
  z-index: 1;
  background-color: hsla(10,100%,100%,0.20);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.card {
  width: 200px;
}

#profile{
  font-size: 1.6em;
}

.flatlounge{
  font-family: cursive;
  font-size: 4em;
  color: white;
}

.form-div{
  font-family: cursive;
  width: 300px;
  padding: 20px;
  color: white;
  margin-top: 9em;
}

.search-bar{
  font-family: cursive;
  width: 300px;
  padding: 200px;
  color: white;
  padding-bottom: 1px;
}

#single-card{
  width: 300px;
  border: 20px solid #663300;
  padding: 25px;
  /* margin-left: 380px; */
  color: black;
  margin-bottom: 20px;
  margin-top: 50px;
  background-color: hsla(10,100%,100%,0.40);
  display: inline-block;
}

#card-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin-left: 150px;
  margin-right: 100px;
}

#searchNform{
  display: inline-block;
}

#searchNform2{
  display: inline-block;
}

#NestedBody{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin-left: 150px;
  margin-right: 200px;
}

.h1 {
  font-size: 1.8em;
  color: white;
}
